
/*
 
To change values, just search & replace said values
 
Default Nav bar height      - 40px. Change this if you've customized its size. Replace ALL 40px with your customized value.
Default Bookmark bar height - 30px. Change this if you've customized its size. Replace ALL 30px with your customized value.
 
To customize auto hide delay - Replace ALL "1s" with Your preferred seconds delay.

To customize animation speed when hiding - Change ALL 300ms values. Increase milliseconds for slower animaTo customize auto hide delay - Replace ALL "1s" with Your preferred seconds delay.
tions. Decrease for faster.
To customize animation speed when hiding - Change ALL "50%" values in @keyframes accordingly. Increase % for faster animation. Decrease for slower.

SEE a comment BELOW to disable auto hiding Bookmark bar.

*/


@keyframes navbar {
    0%   {height: 40px; max-height: 40px; min-height: 40px;}
    50%  {height: 40px; max-height: 40px; min-height: 40px;}
    100% {height: 0; max-height: 0; min-height: 0;}
}

@keyframes navbarHover {
    100% {height: 40px; max-height: 40px; min-height: 40px;}
}


@keyframes personalToolbar {
    0%   {height: 30px; max-height: 30px; min-height: 30px;}
    50%  {height: 30px; max-height: 30px; min-height: 30px;}
    100% {height: 0; max-height: 0; min-height: 0;}
}


@keyframes personalToolbarHover {
    100% {height: 30px; max-height: 30px; min-height: 30px;}
}

@keyframes toolbarIcon {
    0%   {opacity: 100; display: -moz-box;}
    50%  {opacity: 100; display: -moz-box;}
    100% {opacity: 0; display: none;}
}

@keyframes toolbarIconHover {
    100% {opacity: 100; display: -moz-box;}
}


#nav-bar {animation: navbar 1s forwards !important;}
#navigator-toolbox:hover #nav-bar {animation: navbarHover 300ms forwards !important;}

/* Remove these 2 line if you want to disable auto hiding Bookmark bar. */
#PersonalToolbar {animation: personalToolbar 1s forwards !important;}
#navigator-toolbox:hover #PersonalToolbar {animation: personalToolbarHover 300ms forwards !important;}

#nav-bar toolbarbutton .toolbarbutton-icon {animation: toolbarIcon 1s forwards !important;}
#navigator-toolbox:hover #nav-bar toolbarbutton .toolbarbutton-icon {animation: toolbarIconHover 300ms forwards !important;}

#navigator-toolbox #urlbar {--urlbar-toolbar-height: 40px !important}

/*

B U T T O N S

Here you can comment if you want your buttons to be showed up!

*/

/* This one removes the close button  */
.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: none !important;
}

/* This one is the spacer between tabs and border  */
.titlebar-spacer {
    display: none !important;
}
