
/*#If your laptop are surffering by the animation, you could change all the "--*-transition-duration" to 0,esaly using Regular expression in npp++ 
Find:"duration: .*"  
Replace: "duration: 0;"
#*/

/*#this fix the urlbar not getting correct params when using userchrome.css#*/

:root:not([uidensity]) #urlbar[breakout],
:root:not([uidensity]) #urlbar-container[breakout] {
	--urlbar-toolbar-height: 40px !important;
	--urlbar-height: 32px !important;
	--urlbar-container-height: 40px!important;
}

:root[uidensity=touch] #urlbar[breakout],
:root[uidensity=touch] #urlbar-container[breakout] {
	--urlbar-toolbar-height: 44px !important;
	--urlbar-height: 34px !important;
	--urlbar-container-height: 44px!important;
}


/*
# Tabs expand when leaved
# There has some problem I can't fix, when it reach among of tabs, will hardly relocate the current tabs.
# But I common usage it will not be a problem (when the tabs not overflowing)
*/

:root {
	--Tabs-transition-duration: 0.3s;
	--Tabs-transition-delay: 1s;
}

#titlebar:not(:hover) .tabbrowser-tab:not([pinned="true"], [visuallyselected=true], [multiselected]) {
	max-width: 35px!important;
	min-width: 35px!important;
	overflow: hidden;
	transition: all var(--Tabs-transition-duration) ease-out var(--Tabs-transition-delay)!important;
}

#titlebar:not(:hover) .tabbrowser-tab:not([pinned="true"])[visuallyselected=true] {
	max-width: 100vw!important;
	overflow: hidden;
	transition: max-width var(--Tabs-transition-duration) ease-out var(--Tabs-transition-delay)!important;
}

.tabbrowser-tab:not([visuallyselected=true]) .tab-close-button {
	display: none!important;
}

#titlebar:hover .tabbrowser-tab:not([pinned="true"]) .tab-close-button {
	display: -moz-inline-box!important;
}

.tabbrowser-tab:not([fadein]) {
	display: none;
}


/*Adjust Mute icon*/

.tabbrowser-tab:not([visuallyselected=true]):not(:hover) .tab-icon-overlay {
	opacity: 1!important;
	top: -9.5px!important;
	inset-inline-end: -6px!important;
	stroke: var(--tab-icon-overlay-stroke, white)!important;
	transition: var(--Tabs-transition-duration);
}

.tabbrowser-tab:not([visuallyselected=true]):not(:hover) .tab-icon-sound {
	/*! display: none!important; */
}


/*not to confuse using new tabs button*/

#TabsToolbar:not(:hover) #tabs-newtab-button {
	opacity: 0!important;
}


/* 
# Auto-hide Navigation bar
Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_bookmarks_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. 
*/

:root {
	--navbar-transition-delay: 0.5s;
	--navbar-transition-duration: 135ms;
	--nav-bar-margin: calc(-1 * (var(--proton-tab-block-margin) + var(--tab-min-height)));
}

:root:not([uidensity]) {
	--bookmark-bar-margin: -28px;
}

:root[uidensity=touch] {
	--bookmark-bar-margin: -34px;
}


/*Auto-hide url-bar*/

:root:not([customizing],[persist="    "])[sizemode="normal"] #nav-bar,
:root:not([customizing],[persist="    "])[sizemode="maximized"] #nav-bar {
	position: relative;
	margin-bottom: var(--nav-bar-margin);
	transform: rotateX(90deg);
	transform-origin: top;
	transition: transform var(--navbar-transition-duration) linear var(--navbar-transition-delay) ;
	z-index: 101;
}


/* show nav-bar on navigator-toolbox hover/focus */

:root:not([customizing])[sizemode="normal"] #navigator-toolbox:hover #nav-bar,
:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:hover #nav-bar,
:root:not([customizing])[sizemode="normal"] #navigator-toolbox:focus-within #nav-bar,
:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:focus-within #nav-bar {
	transform: rotateX(0deg);
	transition: all var(--navbar-transition-duration) ease 0s ;
	z-index: 100;
}


/* Auto-hide bookmark bar */

#PersonalToolbar {
	--uc-autohide-toolbar-delay: 600ms;
}

:root:not([customizing])[sizemode="normal"] #PersonalToolbar,
:root:not([customizing])[sizemode="maximized"] #PersonalToolbar {
	position: relative;
	margin-bottom: var(--bookmark-bar-margin);
	transform: rotateX(90deg) translate(0px, calc(-1 * var(--bookmark-bar-margin)));
	transform-origin: top;
	transition: transform var(--navbar-transition-duration) linear var(--navbar-transition-delay)!important;
	z-index: 99;
}


/* show bookmark bar when navigator-toolbox hover*/

:root:not([customizing])[sizemode="normal"] #navigator-toolbox:hover #PersonalToolbar,
:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:hover #PersonalToolbar {
	transition-delay: var(--navbar-transition-duration)!important;
	transform: rotateX(0) translate(0px, calc(-1 * var(--nav-bar-margin)));
}


/*Auto-hide-tab-bar*/
/*Uncomment this to enable
:root{
	--tabbar-transition-delay:3s;
}

:root:not([customizing],[persist="    "])[sizemode="normal"] #navigator-toolbox {
	border-bottom: none!important;
	margin-top:calc(-1 * var(--tab-min-height) - 2 * var(--proton-tab-block-margin));
	opacity:1;
	transition: var(--navbar-transition-duration) linear var(--tabbar-transition-delay);
	z-index: 99;
}

:root:not([customizing])[sizemode="normal"][extradragspace] #navigator-toolbox {
	margin-top:calc(-1 * var(--tab-min-height) - 8px);
}

:root:not([customizing])[sizemode="normal"]#main-window:hover #navigator-toolbox,
:root:not([customizing])[sizemode="normal"]#main-window:focus-within #navigator-toolbox {
	margin-top:0px;
	transition-delay: 0s;
	opacity:1;
	z-index: 99;
}

:root:not([customizing],[persist="    "])[sizemode="maximized"] #navigator-toolbox {
	border-bottom: none;
	height: calc(var(--tab-min-height) + 2 * var(--proton-tab-block-margin) + 8.1px);
	background:var(--lwt-accent-color);
	margin-top:calc(-1 * var(--tab-min-height) - 2 * var(--proton-tab-block-margin));
	transition-delay: var(--navbar-transition-delay);
	opacity:1;
	z-index: 99;
}

:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:hover,
:root:not([customizing])[sizemode="maximized"] #navigator-toolbox:focus-within {
	margin-top:0;
	transition-delay: 0s;
	opacity:1;
	z-index: 99;
}


/*Enable to drop tabs in whole page, very useful when tab-bar is hided*/
/*Uncomment this to enable
:root:not([customizing],[persist="    "])[sizemode="normal"] #navigator-toolbox,
:root:not([customizing],[persist="    "])[sizemode="normal"] #titlebar{
	height: calc(var(--tab-min-height) + 2 * var(--proton-tab-block-margin));
	min-height: calc(var(--tab-min-height) + 2 * var(--proton-tab-block-margin));
}

:root:not([customizing])[sizemode="normal"] .tab-drop-indicator{
	max-height:calc(var(--tab-min-height) + 2 * var(--proton-tab-block-margin));
}

spacer,
#scrollbutton-up,
#scrollbutton-down {
	display:none;
}

:root:not([customizing])[sizemode="normal"] #tabbrowser-tabs{
	max-height: 100vh;
	margin-right:-250px;
	margin-left:-40px;
	margin-bottom:-100vh;
	transition: all 0s linear var(--tabbar-transition-delay);
	position: relative;
	z-index: 102;
}

:root:not([customizing])[sizemode="normal"]#main-window:hover #tabbrowser-tabs,
:root:not([customizing])[sizemode="normal"]#main-window:focus-within #tabbrowser-tabs
{
	min-width:unset;
	margin-right:0vw;
	margin-bottom: 0px;
	margin-left: 0px;
	transition-delay: 0s;
	opacity:1;
}

:root:not([customizing])[sizemode="normal"] tab{
	 max-height: calc( var(--tab-min-height) + 2 * var(--proton-tab-block-margin));
	--tabs-border-color:transparent;
}

:root:not([customizing])[sizemode="normal"]#main-window:hover tab,
:root:not([customizing])[sizemode="normal"]#main-window:focus-within tab{
	--tabs-border-color:rgba(0,0,0,.3);
}


/* Uncomment to enable compatibility for multi-row_bookmarks.css */
/* This would break buttons placed in the toolbar but that is likely not happening if you are using multi-row setup  */

/*
#PersonalToolbar:not([customizing]){
	position: fixed;
	display: block;
	margin-bottom: 0px !important;
}
*/


/* 
# Urlbar lager when active
*/

:root:not([customizing])[sizemode="normal"] #urlbar-container:focus-within #urlbar {
	position: fixed!important;
	width: 90%!important;
	margin-left: 5%;
}

#urlbar[breakout] {
	z-index: 1;
}


/*
# Sidebar Auto Hide
# https://github.com/Getulio-Mendes/.dotFiles/tree/master/Firefox/chrome
*/

:root {
	--sidebar-button-size: 15px;
	--sidebar-width: 400px;
	--sidebar-button-distance: 40px;
	--sidebar-toolbar-height: 0px;
	--sidebar-menubar-height: 0px;
	--sidebar-transition-duration: 0.2s;
	--sidebar-transition-delay: 0.8s;
	--sidebar-shadow-color: #28282F;
	--sidebar-button-color: #000;
}

#sidebar-switcher-arrow,
#sidebar-switcher-target,
#sidebar-switcher-target:active,
#sidebar-close,
#sidebar-close:active {
	padding-bottom: 10px!important;
	outline: none!important;
	background: none!important;
}

#sidebar-box {
	z-index: 2 !important;
	position: relative !important;
	padding-top: calc(-1 * var(--menubar-height));
	min-width: var(--sidebar-width) !important;
	max-width: var(--sidebar-width) !important;
	transition: all var(--sidebar-transition-duration) ease-in-out;
	margin-top: var(--menubar-height) !important;
}

#sidebar {
	border-right: none !important;
	max-width: var(--sidebar-width)!important;
}

#sidebar-header {
	display: -webkit-box!important;
	position: fixed!important;
	-webkit-box-pack: justify;
	border-bottom: none!important;
	color: var(--sidebar-button-color);
	height: calc(10px + var(--sidebar-button-size));
}

#sidebar-switcher-target {
	z-index: 1;
}

#sidebar-switcher-arrow,
#sidebar-title {
	display: none;
}

#sidebar-icon,
#sidebar-close image {
	padding: 4px;
	block-size: calc(10px + var(--sidebar-button-size))!important;
	width: calc(10px + var(--sidebar-button-size))!important;
	transform: rotate(-90deg);
	background-color: rgba(241, 241, 241, 0.4);
	border-radius: 5px 5px 5px 5px;
}


/*When sidebar is move to left */


/*sidebar-button-distance*/

#sidebar-box[style*="-moz-box-ordinal-group: 1"] #sidebar-header {
	transform: translate(calc(var(--sidebar-width) + var(--sidebar-button-distance) - 70px), 50vh) rotate(90deg);
}


/* inner width = expanded width & move inner to only show initial-width long section */

#sidebar-box[style*="-moz-box-ordinal-group: 1"] {
	margin-left: calc(-1 * var(--sidebar-width));
}


/* move inner to show entire sidebar */

#sidebar-box[style*="-moz-box-ordinal-group: 1"]:hover {
	margin-left: 0px;
	margin-right: calc(-1 * var(--sidebar-width));
	box-shadow: 2px 0 100px var(--sidebar-shadow-color);
	transition-delay: var(--sidebar-transition-delay);
}


/* When sidebar is move to right */

#sidebar-box[style*="-moz-box-ordinal-group: 3"] #sidebar-header {
	transform: translate(calc(-1 * (var(--sidebar-width) + var(--sidebar-button-distance)) + var(--sidebar-width) - 20px), 50vh) rotate(90deg);
}

#sidebar-box[style*="-moz-box-ordinal-group: 3"] {
	margin-right: calc(-1 * var(--sidebar-width));
	margin-left: 0px;
}

#sidebar-box[style*="-moz-box-ordinal-group: 3"]:hover {
	margin-right: 0px;
	margin-left: calc(-1 * var(--sidebar-width));
	box-shadow: 2px 0 200px var(--sidebar-shadow-color);
	transition-delay: var(--sidebar-transition-delay);
}

#sidebar-box[style*="-moz-box-ordinal-group: 3"] #sidebar-switcher-target,
#sidebar-box[style*="-moz-box-ordinal-group: 3"] #sidebar-close {
	margin-top: var(--sidebar-button-distance)!important;
}
