/* ONE LINE TOOLBAR */
#navigator-toolbox
{ display: flex
; flex-direction: row-reverse
; justify-content: flex-end
}

#titlebar
{ min-width: 30px !important
; flex: 0
; flex-basis: max-content
}

#nav-bar
{ background-color: transparent !important
; flex: 1
; min-width: 600px !important
; max-width: 1000px !important
}

#PersonalToolbar
{ flex: 0
}

#tabbrowser-tabs
{ width: 100vw
}

/* REORDER BUTTONS */
#nav-bar
{ display: flex
}

#nav-bar-customization-target
{ order: 2
; flex: 1
}

/* REMOVE SEPARATOR FROM SANDWICH BUTTON */
#PanelUI-button
{ border: 0 !important
; margin-left: 0 !important
; padding-left: 0 !important
}

/* TABS SAME SIZE AS TOOLBAR */
:root
{ --tab-min-height: 30px !important
}

/* ONLY ICONS ON TABS */
/*
.tab-label-container
{ display:none
}

.tabbrowser-tab[fadein]:not([pinned])
{ max-width: 0 !important
; min-width: auto !important
}
*/

/* HIDE NAV BUTTONS */
#back-button, #forward-button
{ display: none
}

/* TOOLBAR BELOW PAGE */
#main-window:not([sizemode="fullscreen"]) body > box:nth-child(8)
{ position: fixed
; bottom: 0
; display: block
; z-index: 1
; background: gray
; width: 100%
; background-color: black;
; background-image: var(--lwt-header-image) !important
; background-repeat: no-repeat
; background-position: right top !important
}

#main-window:not([sizemode="fullscreen"]) #browser
{ padding-bottom: 30px
}

/* TOOLBAR BALLOONS HAVE TO BECOME VISIBLE AGAIN */
panel[position^="bottomcenter"]
{ top: 0px
}

.urlbarView
{ top: auto !important
; bottom: 30px !important
}

#urlbar[breakout-extend]
{ top: auto !important
; bottom: 0px !important
}

#urlbar[open] .urlbarView-results
{ display: flex
; flex-direction: column-reverse
}

#urlbar[open] .urlbarView-body-inner
{ margin-top: 42px
; border-top: none !important
}

#urlbar[open] #urlbar-input-container
{ display: flex
; position: absolute !important
; bottom: 0 !important
}

#urlbar-input
{ min-width: calc(350px + 2 * var(--toolbarbutton-inner-padding)) !important
}

box.panel-viewstack
{ min-height: min-content
; max-height: none !important
}

/* I'M WITH "SWAYWM", I DON'T NEED THESE */
#minimize-button, #restore-button
{ display: none
}

/* HIDE CLOSE TAB BUTTON */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }

/* Reduce left spacer on non-maximized windows */
.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}
